<header class="app-header">
  <div class="container">


    <div class="header-left">
      <button class="hamburger" (click)="toggleMenu()" aria-label="Menú" [attr.aria-expanded]="menuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <h1 class="logo">
        <a routerLink="/home">
          <img src="assets/logogescom4.png" alt="Mi App de Tareas" />
        </a>
      </h1>
    </div>


    <div class="user-section" *ngIf="!isCheckingLogin && currentUser">
      <div class="user-info">
        {{ currentUser.name }}!
      </div>

      <div class="user-dropdown">
        <div class="user-icon-wrapper">
          <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Configuración de usuario">
            <mat-icon>manage_accounts</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="gestionUsuarios()">
        <mat-icon>badge</mat-icon>
        <span>Gestión usuarios</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>


    <nav class="main-nav" [class.open]="menuOpen">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">
            <mat-icon>home</mat-icon>
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/tasks" routerLinkActive="active" (click)="closeMenu()">
            <mat-icon>task</mat-icon>
            Tareas
          </a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">
            <mat-icon>contacts</mat-icon>
            Contactos
          </a>
        </li>
        <li>
          <a routerLink="/brand" routerLinkActive="active" (click)="closeMenu()">
            <mat-icon>local_offer</mat-icon>
            Marcas
          </a>
        </li>
        <li>
          <a routerLink="/customer" routerLinkActive="active" (click)="closeMenu()">
            <mat-icon>business</mat-icon>
            Clientes
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
