<div class="popup-backdrop">

  <h3 class="title-popup">{{ mode === 'CREAR' ? 'Nuevo Contacto' : 'Editar Contacto' }}</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="submitted && error" class="error">{{ error }}</div>

    <label for="name">Nombre *</label>
    <input id="name" formControlName="name" />

    <label for="phone">Teléfono *</label>
    <input id="phone" formControlName="phone" />

    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" />

    <label for="charge">Cargo *</label>
    <input id="charge" formControlName="charge" />

    <label for="customerId">Cliente *</label>
    <select id="customerId" formControlName="customerId">
      <option [ngValue]="null">-- Selecciona un cliente --</option>
      <option *ngFor="let c of customers" [value]="c.id">{{ c.name }}</option>
    </select>

    <div *ngIf="form.get('customerId')?.invalid && form.get('customerId')?.touched" class="error">
      Debes seleccionar un cliente.
    </div>

    <p class="nota-obligatoria">* Campo obligatorio</p>

    <div class="actions">
      <button type="submit">
        {{ mode === 'CREAR' ? 'Crear' : 'Guardar' }}
      </button>
      <button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>