<div class="popup-backdrop">
  <div class="popup">
    <h3 class="tittle-popup">{{ mode === 'CREAR' ? 'Nuevo Contacto' : 'Editar Contacto' }}</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="submitted && error" class="error">{{ error }}</div>


      <label>
        Nombre *
        <input formControlName="name" />
      </label>

      <label>
        Teléfono *
        <input formControlName="phone" />
      </label>

      <label>
        Email
        <input formControlName="email" type="email" />
      </label>

      <label>
        Charge
        <input formControlName="charge" />
      </label>

      <label>
        Cliente *
        <select formControlName="customerId">
          <option *ngFor="let c of customers" [value]="c.id">{{ c.name }}</option>
        </select>
      </label>


      <div *ngIf="form.get('customerId')?.invalid && form.get('customerId')?.touched"
           class="error">
        Debes seleccionar un cliente.
      </div>

      <p class="nota-obligatoria">* Campo obligatorio</p>

      <div class="actions">
        <button type="submit">
          {{ mode === 'CREAR' ? 'Crear' : 'Guardar' }}
        </button>
        <button type="button" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
