<div class="dialog-overlay">
  <div class="dialog-box">
    <h3>{{ appUserId === 0 ? 'Crear appUser' : 'Editar appUser' }}</h3>
    <form [formGroup]="userForm" (ngSubmit)="guardar()">
      <div *ngIf="error" class="error">{{ error }}</div>
      <label>Nombre: <input formControlName="name" /></label><br />
      <label>Email: <input formControlName="email" /></label><br />
      <label>Contraseña: <input formControlName="password" type="password" /></label><br />
      <label>Confirmar Contraseña: <input formControlName="confirmPassword" type="password" /></label><br />
      <div *ngIf="userForm.get('role')" formGroupName="role"><label>Rol:<select formControlName="id">
        <option *ngFor="let r of roles" [value]="r.id">{{ r.name }}</option>
    </select></label></div>    
        <div class="popup-buttons">
        <button type="submit">Guardar</button>
        <button type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
