.btn-primary {
  display: flex;
  justify-content: center;
  width: 160px;
  padding: 0.75rem;
  background: #007bff;;
  border-radius: 5px;
  color: rgb(233, 233, 238);
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;

}

.btn-primary:hover {
  background-color: #170cac;
}
.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 0.75rem;
  display: block;
  text-align: center;
  font-weight: bold;
}
.form-group {
  margin-bottom: 1.5rem; 
  display: flex;
  flex-direction: column; 
  font-size: 1.75vw;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  align-self: center;

}

input {
  align-self: center;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width:25%;
}
.button-row {
  display: flex;
  margin: 0 auto;
  width: 50%;
}
.cuenta-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 2vw;
}
.btn-link {
  justify-content: center;
  width: 160px;
  padding: 0.75rem;
  background: #007bff;;
  border-radius: 5px;
  color: rgb(233, 233, 238);
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.32s;
  margin: 0 auto;
  display: flex;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
}