<!-- <app-header [currentUser]="currentUser" [isCheckingLogin]="isCheckingLogin"></app-header> -->

<div class="home-container">
  <p>Selecciona una opción en el menú para empezar.</p>
</div>
<div class="dashboard">
  <div class="card card-pendiente">
    <h3>Pendientes</h3>
    <p class="count">{{ counts.pendiente }}</p>
  </div>

  <div class="card card-encurso">
    <h3>En curso</h3>
    <p class="count">{{ counts.enCurso }}</p>
  </div>

  <div class="card card-completada">
    <h3>Completadas</h3>
    <p class="count">{{ counts.completada }}</p>
  </div>

  <div class="card card-vencidas">
    <h3>Vencidas</h3>
    <p class="count">{{ counts.vencidas }}</p>
  </div>
</div>

<app-dashboard> </app-dashboard>


